<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/main::commonHead(|${view.title} : 수정중|)}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{layout/main::pageNavbar('_')}"></nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-6">

            <form th:action="@{/board/edit}" method="post">
                <input type="hidden" name="id" th:value="${view.id}">
                <!--제목 -> 크고 진하게-->
                <div class="mt-3">
                    <label class="form-label fw-bold">제목</label>
                    <input class="form-control" type="text" name="title" th:value="${view.title}">
                </div>
                <!--작성자 -> 글씨 작고 색깔 연하게?-->
                <!--작성일자는 안씀, 수정되게 하는 거는 나중에 ... -->
                <div class="mt-3">
                    <label class="form-label fw-bold">작성자</label>
                    <input class="form-control" type="text"
                           name="writer"
                           th:value="${view.writer.nickName}"
                           readonly>
                </div>
                <!--본문-->
                <div class="mt-3">
                    <label class="form-label fw-bold">본문</label>
                    <textarea class="form-control"
                              name="content"
                              th:text="${view.content}"
                              rows="5"></textarea>
                </div>

                <div class="mt-3">
                    <button class="btn btn-primary">저장</button>
                </div>

            </form>

        </div>
    </div>
</div>
<!--TODO: 수정 modal 추가하기-->

<th:block th:replace="~{layout/main::commonScript}"/>
</body>
</html>