<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/main::commonHead(${view.title})}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <!--제목 -> 크고 진하게-->
    <label>제목</label>
    <input type="text" name="title" th:value="${view.title}" readonly>
</div>
<!--작성자 작성일자 -> 글씨 작고 색깔 연하게?-->
<div>
    <label>작성자</label>
    <input type="text"
           name="writer"
           th:value="${view.writer}"
           readonly>
    <label>작성일자</label>
    <input type="text"
           name="createdAt"
           th:value="${view.createdAt}"
           readonly>
</div>
<!--본문-->
<div>
    <!--    <label></label>-->
    <textarea name="content"
              th:text="${view.content}"
              rows="5"
              readonly></textarea>
</div>

<!--수정, 삭제 버튼 추가-->
<div>
    <!--수정 버튼 링크 추가 필요함-->
    <a th:href="@{/board/edit(id=${view.id})}">수정</a>
    <button>삭제</button>
</div>

<th:block th:replace="~{layout/main::commonScript}"/>
</body>
</html>