<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/main::commonHead('게시물 작성')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:replace="~{layout/main::pageNavbar('write')}"></nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-6">

            <h3 class="mt-3 mb-3 fw-bold">게시물 작성</h3>

            <!-- 제목, 본문, 작성자, 작성 버튼 -->
            <form th:action="@{/board/write}" method="post">
                <div class="mb-3">
                    <label class="form-label fw-bold">제목</label>
                    <input class="form-control" type="text" name="title">
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">본문</label>
                    <textarea class="form-control" name="content" rows="5"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">작성자</label>
                    <input class="form-control" type="text" name="writer"
                           th:value="${session.loggedInUser.nickName}" readonly>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary">작성</button>
                </div>
            </form>

        </div>
    </div>
</div>


<th:block th:replace="~{layout/main::commonScript}"/>
</body>
</html>